---
# front matter
---
@charset "utf-8";

// base variables
$base-font-family: {{ site.data.theme.base-font-family | default: 'system-ui' }};
$base-font-size: {{ site.data.theme.base-font-size | default: '16px' }};
$text-color: {{ site.data.theme.text-color | default: '#111' }};
$link-color: {{ site.data.theme.link-color | default: '#2a7ae2' }};

// Width of the content area
$content-width: 1800px;
$on-palm: 576px;
$on-laptop: 768px;
$on-desktop: 992px;
$on-jumbo: 1200px;

// Media query mixin
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Theme colors
$theme-colors: ();
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% for btn in btns %}
${{ btn.color_class }}: {{ btn.color }};
{% endfor %}

// Only perform map-merge if there are actually theme colors
{% if btns.size > 0 %}
$theme-colors: map-merge(
  (
    {% for btn in btns %}
    "{{ btn.color_class }}": ${{ btn.color_class }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ),
  $theme-colors
);
{% endif %}

@import 
  "base",
  "theme-colors",
  "pages",
  "custom";
